<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>LDAP Device Surveyor</title>
    <link rel="stylesheet" href="{{ url_for('static',    filename='css/template.css') }}">
  </head>
  <body>
    <nav>
      <ul>
        <li><img height="30px" src="https://cdn.nwmsrocks.com/img/3dc41c7.png"/></li>
        <li><a href="/">Home</a></li>
        <li><a href="/display=list">Tasks</a></li>
        <li><a href="/display=board">Board</a></li>
        <li><a href="/users">Users</a></li>
      </ul>
      <ul class='navicon'>
        {% if current_user.is_authenticated %}
        <li>{{ current_user.id }}</li>
        <li><a href="/logout">Logout</a></li>
        {% else %}
        <li><a href="/login">Login</a></li>
        {% endif %}
        <li>Tasker</li>
      </ul>
    </nav>
    <div style = 'display: grid'>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
      <div style='display: block; margin: 5px;'>
      <ul class=flashes>
      {% for message in messages %}
        <li class=flashes>{{ message }}</li>
      {% endfor %}
      </ul>
    </div>
    {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
    </div>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
  </body>
</html>