{% extends "base.html" %}
{% block content %}
<div class='row'>
    <div class='col-lg-6 mb-2'>
        <div class='row'>
            <div id='dropOpen' ondrop="drop_move(event)" ondragover="allowDrop(event)" class='col-md-3'>
                <h3>Open</h3>
                {% for ticket in tickets %}
                {% if ticket.status.value == 1 %}
                    <div id="drag{{ ticket.id }}" draggable="true" ondragstart="drag(event)" class='card mt-2 bg-light shadow {{ ticket.priority.name }}'>
                        <div class='card-header'>
                        <p class='card-title mb-0'><a href="/{{ queries['ticket'] + '&ticket=' + ticket.id|string }}">{{ ticket.subject }}</a></p>
                        </div>
                        <ul class="list-group list-group-flush">
                            {% for tag in ticket.tags %}
                            <li class='list-group-item m-0 pl-3 p-1'>#{{ tag }}</li>
                            {% endfor %}
                        </ul>
                        {% if ticket.due_by %}
                        <div class='card-body'>
                            <p class='card-test'>{{ ticket.due_by }}</p>
                        </div>
                        {% endif %}
                    </div>
                    {% endif %}
                {% endfor %}
            </div>
            <div id='dropWorking' ondrop="drop_move(event)" ondragover="allowDrop(event)" class='col-md-3'>
                <h3>Working</h3>
                {% for ticket in tickets %}
                {% if ticket.status.value == 2 %}
                    <div id="drag{{ ticket.id }}" draggable="true" ondragstart="drag(event)" class='card mt-2 bg-light shadow {{ ticket.priority.name }}'>
                        <div class='card-header'>
                        <p class='card-title mb-0'><a href="/{{ queries['ticket'] + '&ticket=' + ticket.id|string }}">{{ ticket.subject }}</a></p>
                        </div>
                        <ul class="list-group list-group-flush">
                            {% for tag in ticket.tags %}
                            <li class='list-group-item m-0 pl-3 p-1'>#{{ tag }}</li>
                            {% endfor %}
                        </ul>
                        {% if ticket.due_by %}
                        <div class='card-body'>
                            <p class='card-test'>{{ ticket.due_by }}</p>
                        </div>
                        {% endif %}
                    </div>
                    {% endif %}
                {% endfor %}
            </div>
            <div id='dropWaiting' ondrop="drop_move(event)" ondragover="allowDrop(event)" class='col-md-3'>
                <h3>Waiting</h3>
                {% for ticket in tickets %}
                {% if ticket.status.value == 3 %}
                    <div id="drag{{ ticket.id }}" draggable="true" ondragstart="drag(event)" class='card mt-2 bg-light shadow {{ ticket.priority.name }}'>
                        <div class='card-header'>
                        <p class='card-title mb-0'><a href="/{{ queries['ticket'] + '&ticket=' + ticket.id|string }}">{{ ticket.subject }}</a></p>
                        </div>
                        <ul class="list-group list-group-flush">
                            {% for tag in ticket.tags %}
                            <li class='list-group-item m-0 pl-3 p-1'>#{{ tag }}</li>
                            {% endfor %}
                        </ul>
                        {% if ticket.due_by %}
                        <div class='card-body'>
                            <p class='card-test'>{{ ticket.due_by }}</p>
                        </div>
                        {% endif %}
                    </div>
                    {% endif %}
                {% endfor %} 
            </div>
            <div id='dropClosed' ondrop="drop_move(event)" ondragover="allowDrop(event)" class='col-md-3'>
                <h3>Closed</h3>
                {% set ns = namespace(count=0) %}
                {% for ticket in tickets %}
                    {% if ticket.status.value == 4 %}{% set ns.count = ns.count + 1 %}{% if ns.count < 4 %}
                    <div id="drag{{ ticket.id }}" draggable="true" ondragstart="drag(event)" class='card mt-2 bg-light shadow {{ ticket.priority.name }}'>
                        <div class='card-header'>
                        <p class='card-title mb-0'><a href="/{{ queries['ticket'] + '&ticket=' + ticket.id|string }}">{{ ticket.subject }}</a></p>
                        </div>
                        <ul class="list-group list-group-flush">
                            {% for tag in ticket.tags %}
                            <li class='list-group-item m-0 pl-3 p-1'>#{{ tag }}</li>
                            {% endfor %}
                        </ul>
                        {% if ticket.due_by %}
                        <div class='card-body'>
                            <p class='card-test'>{{ ticket.due_by }}</p>
                        </div>
                        {% endif %}
                    </div>
                    {% endif %}{% endif %}
                {% endfor %}
            </div>
        </div>
    </div>

    <div class='col-lg-6'>
        <div class='container mt-0'>
            <div class=container>
                <div class="btn-group">
                    <div class='dropdown'>
                        <button onclick="showDiv('expandCreate')" class='btn btn-outline-secondary'>Create Ticket</button>
                    </div>
                    {% if ticket %}
                    <div class='dropdown'>
                        <button onclick="showDiv('expandUpdate')" class='btn btn-outline-secondary'>Edit Ticket</button>
                    </div>
                    {% endif %}
                    <div class="dropdown">
                        <button type='button' class='btn btn-outline-secondary dropdown-toggle' onclick='showDiv("Filter")'>Filter</button>
                        <div id="Filter" class='dropdown-menu'>
                            {% if assigned %}
                            <a class='dropdown-item' href="/{{ queries['assigned'] }}">All Tickets</a>
                            {% else %}
                            <a class='dropdown-item' href="{{ queries['assigned'] }}">My Tickets</a>
                            {% endif %}
                        <a class='dropdown-item' href="/{{ queries['all'] }}">All</a>
                        <a class='dropdown-item' href="/{{ queries['status'] + '&status=Open' }}">Open</a>
                        <a class='dropdown-item' href="/{{ queries['status'] + '&status=Working' }}">Working</a>
                        <a class='dropdown-item' href="/{{ queries['status'] + '&status=Waiting' }}">Waiting</a>
                        <a class='dropdown-item' href="/{{ queries['status'] + '&status=Closed' }}">Closed</a>
                        </div>
                    </div>
                    <div class="dropdown">
                        <button type='button' class='btn btn-outline-secondary dropdown-toggle' onclick='showDiv("Sort")'>Sort</button>
                        <div id="Sort" class='dropdown-menu'>
                        <a class='dropdown-item' href="/{{ queries['order'] + '&order=id' }}">ID</a>
                        <a class='dropdown-item' href="/{{ queries['order'] + '&order=updated_at' }}">Updated At</a>
                        <a class='dropdown-item' href="/{{ queries['order'] + '&order=created_at' }}">Created At</a>
                        <a class='dropdown-item' href="/{{ queries['order'] + '&order=priority' }}">Priority</a>
                        <a class='dropdown-item' href="/{{ queries['order'] + '&order=status' }}">Status</a>
                        {% if queries.get('sorted') == 'asc' %}
                        <a class='dropdown-item' href="/{{ queries['sort'] + '&sort=desc' }}">Descending</a>
                        {% else %}
                        <a class='dropdown-item' href="/{{ queries['sort'] + '&sort=asc' }}">Ascending</a>
                        {% endif %}
                        </div>
                    </div>
                    <div class="dropdown">
                        <button type='button' class='btn btn-outline-secondary dropdown-toggle' onclick='showDiv("Size")'>Size</button>
                        <div id="Size" class='dropdown-menu'>
                        <a class='dropdown-item' href="/{{ queries['size'] + '&size=5' }}">5</a>
                        <a class='dropdown-item' href="/{{ queries['size'] + '&size=15' }}">15</a>
                        <a class='dropdown-item' href="/{{ queries['size'] + '&size=100' }}">100</a>
                        <a class='dropdown-item' href="/{{ queries['size'] + '&size=1000' }}">1000</a>
                        </div>
                    </div>
                    <div class='ml-auto flex-right'>
                        <form id='search' action="" method="post">
                        {{ forms.searchForm.search(class="form-control", placeholder="Search") }}
                        </form>
                    </div>
                </div>
                </div>
                <div id='expandCreate' class='collapse mt-2'>
                    <form id='exp1' action="" method="post">
                        <div class="form-group mb-2 mr-sm-2">
                            Priority:{{ forms.ticketInsertForm.priority(class='custom-select custom-width-7') }} 
                            Status:{{ forms.ticketInsertForm.status(class='custom-select custom-width-7') }} 
                            Assigned:{{ forms.ticketInsertForm.assigned(class='custom-select custom-width-10') }}
                        </div>
                        <div class="input-group mb-3">
                            <div class="row">
                                <div class="col">
                                {{ forms.ticketInsertForm.subject(class="form-control", placeholder="Subject") }} 
                                </div>
                                <div class="col">
                                {{ forms.ticketInsertForm.tags(class="form-control", placeholder="Tags") }} 
                                </div>
                                <div class="col">
                                {{ forms.ticketInsertForm.cc(class="form-control", placeholder="CC") }}
                                </div>
                            </div>
                        </div>
                        <div class="input-group mb-3">
                            {{ forms.ticketInsertForm.body(class="form-control", placeholder="Body") }}
                        </div>
                        <div class='mb-2 mr-sm-2'>
                            {{ forms.ticketInsertForm.submitInsertTicket(class="btn btn-outline-secondary") }}
                        </div>
                    </form>
                </div>&assigned={{ current_user.id }}
                        <div class="form-group mb-2 mr-sm-2">
                            Priority:<select id="priority" class='custom-select custom-width-7' name="priority">{% for priority in forms.ticketUpdateForm.priority %}<option value="{{ priority.data }}"{% if priority.data == ticket.priority.name %} selected="selected"{% endif %}>{{ priority.data }}</option>{% endfor %}</select>
                            Status:<select id="status" class='custom-select custom-width-7' name="status">{% for status in forms.ticketUpdateForm.status %}<option value="{{ status.data }}"{% if status.data == ticket.status.name %} selected="selected"{% endif %}>{{ status.data }}</option>{% endfor %}</select>
                            Assigned:<select id="assigned" class='custom-select custom-width-10' name="assigned">{% for assigned in forms.ticketUpdateForm.assigned.choices %}<option value="{{ assigned[0] }}"{% if assigned[0] == ticket.assigned[0] %} selected="selected"{% endif %}>{{ assigned[0] }}</option>{% endfor %}</select>
                        </div>
                        <div class="input-group mb-3">
                            <div class="form-row">
                                <div class="col">
                                    Subject:{{ forms.ticketUpdateForm.subject(class_='form-control', value=ticket.subject) }}
                                </div>
                                <div class="col">
                                    Tags:{{ forms.ticketUpdateForm.tags(class_='form-control', value=tags_string(ticket.tags)) }}
                                </div>
                                <div class="col">
                                    Created By:{{ forms.ticketUpdateForm.created_by(class_='form-control', value=ticket.created_by) }}
                                </div>
                                <div class="col">
                                    CC'd:{{ forms.ticketUpdateForm.cc(class="form-control", value=ticket.cc) }}
                                </div>
                            </div>
                        </div>
                        <div class="input-group mb-3">
                            <textarea id="body" class="form-control" name="body" required="">{{ ticket.body }}</textarea>
                        </div>
                        <div class='mb-2 mr-sm-2'>
                            {{ forms.ticketUpdateForm.submitUpdateTicket(class="btn btn-outline-secondary") }}
                        </div>
                    </form>
                </div>
                {% endif %}
        {% if ticket %}
        <div class='card mt-2 shadow p-0'>
            <div class='card-header'>
                <h5>#{{ ticket.id }} {{ ticket.subject }}</h5>
            </div>
            <div class='card-body'>
                <div class='row'>
                    <iframe class='col-lg-12 col-md-12 col-sm-12' frameborder="0" src="{{ '/ticket/' + ticket.id|string }}" sandbox></iframe>
                </div>
            </div>
            <div class='card-body'>
                <small><table class='table table-sm'><tr>
                    <th>Status</th>
                    <th>Priority</th>
                    <th>Assigned</th>
                    <th>Tags</th>
                    <th>Updated</th>
                    <th>Created</th>
                    <th>CC'd</th>
                    <th>Due</th></tr>
                <td>{{ ticket.status.name }}</td>
                <td>{{ ticket.priority.name }}</td>
                <td>{{ ticket.assigned[0] }}</td>
                <td>{{ tags_string(ticket.tags) }}</td>
                <td>{{ ticket.updated_at }}</td>
                <td>{{ ticket.created_by }}</td>
                <td>{{ ticket.cc }}</td>
                <td>{{ ticket.due_by }}</td>
            </table></small>
            </div>
        </div>
        </div>
        <div class='container mt-4'>
            {% for comment in comments %}
            <div class='card mt-2 bg-light p-0'>
                <div class='card-body'>
                    {% if comment.variety.name == 'External' %}
                    <p class="card-text">{{ comment.body }}</p><small>{{ comment.created_by }} at {{ comment.created_at }}</small>
                    {% elif comment.variety.name == 'Internal' %}
                    <p class="card-text font-italic">{{ comment.body }}</p><small>{{ comment.created_by }} at {{ comment.created_at }}</small>
                    {% else %}
                    <small>{{ comment.created_by }} updated {{ comment.body }} at {{ comment.created_at }}</small>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
            <div style='width: 100%'>
                <form action="" method="post">
                    <div class="input-group mb-3 mt-2">
                        {{ forms.commentForm.comment(class="form-control", placeholder="Comment") }}
                    </div>
                    <div class='mb-2 mr-sm-2'>
                        {{ forms.commentForm.submitComment }}
                    </div>
                </form>
            </div>
        </div>
        {% endif %}
    </div>
</div>

{% endblock %}