{% extends "base.html" %}
{% block content %}
<div class='row'>
    <div class='col-lg-6 mb-2'>
        <div class='container'>
            <div class='row m-1'>
                <div class="btn-group">
                    <div class="dropdown">
                    <button onclick="showDiv('expandCreate')" class='btn btn-outline-secondary'>Create Ticket</button>
                    </div>
                    <div class="dropdown">
                        <button type='button' class='btn btn-outline-secondary dropdown-toggle' onclick='showDiv("Filter")'>Filter</button>
                        <div id="Filter" class='dropdown-menu'>
                            {% if assigned %}
                            <a class='dropdown-item' href="/{{ queries['assigned'] }}">All Tickets</a>
                            {% else %}
                            <a class='dropdown-item' href="{{ queries['assigned'] }}">My Tickets</a>
                            {% endif %}
                        <a class='dropdown-item' href="/{{ queries['all'] }}">All</a>
                        <a class='dropdown-item' href="/{{ queries['status'] + '&status=Open' }}">Open</a>
                        <a class='dropdown-item' href="/{{ queries['status'] + '&status=Working' }}">Working</a>
                        <a class='dropdown-item' href="/{{ queries['status'] + '&status=Waiting' }}">Waiting</a>
                        <a class='dropdown-item' href="/{{ queries['status'] + '&status=Closed' }}">Closed</a>
                        </div>
                    </div>
                    <div class="dropdown">
                        <button type='button' class='btn btn-outline-secondary dropdown-toggle' onclick='showDiv("Sort")'>Sort</button>
                        <div id="Sort" class='dropdown-menu'>
                        <a class='dropdown-item' href="/{{ queries['order'] + '&order=id' }}">ID</a>
                        <a class='dropdown-item' href="/{{ queries['order'] + '&order=updated_at' }}">Updated At</a>
                        <a class='dropdown-item' href="/{{ queries['order'] + '&order=created_at' }}">Created At</a>
                        <a class='dropdown-item' href="/{{ queries['order'] + '&order=priority' }}">Priority</a>
                        <a class='dropdown-item' href="/{{ queries['order'] + '&order=status' }}">Status</a>
                        {% if queries.get('sorted') == 'asc' %}
                        <a class='dropdown-item' href="/{{ queries['sort'] + '&sort=desc' }}">Descending</a>
                        {% else %}
                        <a class='dropdown-item' href="/{{ queries['sort'] + '&sort=asc' }}">Ascending</a>
                        {% endif %}
                        </div>
                    </div>
                    <div class="dropdown mw-1">
                        <button type='button' class='btn btn-outline-secondary dropdown-toggle' onclick='showDiv("Size")'>Size</button>
                        <div id="Size" class='dropdown-menu'>
                        <a class='dropdown-item' href="/{{ queries['size'] + '&size=5' }}">5</a>
                        <a class='dropdown-item' href="/{{ queries['size'] + '&size=15' }}">15</a>
                        <a class='dropdown-item' href="/{{ queries['size'] + '&size=100' }}">100</a>
                        <a class='dropdown-item' href="/{{ queries['size'] + '&size=1000' }}">1000</a>
                        </div>
                    </div>
                </div>
                <div class='ml-auto'>
                    <form id='search' action="" method="post">
                    {{ forms.searchForm.search(class="form-control", placeholder="Search") }}
                    </form>
                </div>
            </div>
            <div id='expandCreate' class='collapse mt-2'>
                <form id='exp1' action="" method="post">
                    <div class="form-group mb-2 mr-sm-2">
                        Priority:{{ forms.ticketInsertForm.priority(class='custom-select custom-width-7') }} 
                        Status:{{ forms.ticketInsertForm.status(class='custom-select custom-width-7') }} 
                        Assigned:{{ forms.ticketInsertForm.assigned(class='custom-select custom-width-10') }}
                    </div>
                    <div class="input-group mb-3">
                        <div class="row">
                            <div class="col">
                            {{ forms.ticketInsertForm.subject(class="form-control", placeholder="Subject") }}
                            </div>
                            <div class="col">
                            {{ forms.ticketInsertForm.tags(class="form-control", placeholder="Tags") }} 
                            </div>
                            <div class="col">
                            {{ forms.ticketInsertForm.cc(class="form-control", placeholder="CC") }} 
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        {{ forms.ticketInsertForm.body(class="form-control", placeholder="Body") }}
                    </div>
                    <div class='mb-2 mr-sm-2'>
                        {{ forms.ticketInsertForm.submitInsertTicket(class="btn btn-outline-secondary") }}
                    </div>
                </form>
            </div>
            </div>
            <div class='container table-responsive-lg'>
                <table class='table table-striped table-hover table-responsive text-nowrap'>
                    <tr><th>ID</th>
                        <th>Subject</th>
                        <th>Status</th>
                        <th>Priority</th>
                        <th>Assigned</th>
                        <th>Tags</th>
                        <th>Updated</th>
                        <th>Created</th>
                        <th>Due</th></tr>
                    {% for tick in tickets %}
                    {% if tick.id == ticket.id %}<tr class='selected'>{% else %}<tr>{% endif %}    
                        <td><a href="/display=list&ticket={{ tick.id }}">{{ tick.id }}</a></td>
                        <td><a href="/display=list&ticket={{ tick.id }}">{{ tick.subject[:32] }}{% if tick.subject|length > 32 %}...{% endif %}</a></td>
                        <!-- Status -->
                        <td><a><div class='click' onclick='showDiv("status{{ tick.id }}")'>{{ tick.status.name }}</div><div class='hidden-scroll' style='display: none;' id='status{{ tick.id }}'><!--
                        --><ul>{% for status in statuses %}<li class='hidden-list'><a onclick='status("{{ status }}",{{ tick.id }})'>{{ status }}</a></li>{% endfor %}</ul></div></a></td>
                        <!-- Priority -->
                        <td><a><div class='click' onclick='showDiv("priority{{ tick.id }}")'>{{ tick.priority.name }}</div><div class='hidden-scroll' style='display: none;' id='priority{{ tick.id }}'><!--
                        --><ul>{% for pri in priorities %}<li class='hidden-list'><a onclick='priority("{{ pri }}",{{ tick.id }})'>{{ pri }}</a></li>{% endfor %}</ul></div></a></td>
                        <!-- Assigned -->
                        <td><a><div class='click' onclick='showDiv("assigned{{ tick.id }}")'>{% if tick.assigned[0] %}{{ tick.assigned[0] }}{% else %}____{% endif %}</div><div class='hidden-scroll' style='display: none;' id='assigned{{ tick.id }}'><!--
                        --><ul>{% for user in users %}<li class='hidden-list'><a onclick='assign("{{ user[0] }}",{{ tick.id }})'>{{ user[0] }}</a></li>{% endfor %}</ul></div></a></td>
                        <!-- Tags -->
                        <td><a><div class='click' onclick='showDiv("tags{{ tick.id }}")'>{% if tick.tags[0] %}{{ tags_string(tick.tags) }}{% else %}____{% endif %}</div><div class='hidden-scroll' style='display: none;' id='tags{{ tick.id }}'><!--
                        --><ul>{% for tag in tags %}<li class='hidden-list'><a onclick='tag("{{ tag.body }}",{{ tick.id }})'>{{ tag.body }}</a></li>{% endfor %}</ul></div></a></td>
                        <td>{{ tick.updated_at[5:-3] }}</td>
                        <td>{{ tick.created_by }}</td>
                        <td>{{ tick.due_by }}</td></tr>
                    {% endfor %}
                </table>
            </div>
        </div>
        <div class='col-lg-6'>
            <div class='row'>
            <div id='dropOpen' ondrop="drop_move(event)" ondragover="allowDrop(event)" class='col-md-3'>
                <h3>Open</h3>
                {% for ticket in boards %}
                {% if ticket.status.value == 1 %}
                    <div id="drag{{ ticket.id }}" draggable="true" ondragstart="drag(event)" class='card mt-2 bg-light shadow {{ ticket.priority.name }}'>
                        <div class='card-header'>
                        <p class='card-title mb-0'><a href="/display=board&ticket={{ ticket.id }}">{{ ticket.subject }}</a></p>
                        </div>
                        <ul class="list-group list-group-flush">
                            {% for tag in ticket.tags %}
                            <li class='list-group-item m-0 pl-3 p-1'>#{{ tag }}</li>
                            {% endfor %}
                        </ul>
                        {% if ticket.due_by %}
                        <div class='card-body'>
                            <p class='card-test'>{{ ticket.due_by }}</p>
                        </div>
                        {% endif %}
                    </div>
                    {% endif %}
                {% endfor %}
            </div>
            <div id='dropWorking' ondrop="drop_move(event)" ondragover="allowDrop(event)" class='col-md-3'>
                <h3>Working</h3>
                {% for ticket in boards %}
                {% if ticket.status.value == 2 %}
                    <div id="drag{{ ticket.id }}" draggable="true" ondragstart="drag(event)"  class='card mt-2 bg-light shadow {{ ticket.priority.name }}'>
                        <div class='card-header'>
                        <p class='card-title mb-0'><a href="/display=board&ticket={{ ticket.id }}">{{ ticket.subject }}</a></p>
                        </div>
                        <ul class="list-group list-group-flush">
                            {% for tag in ticket.tags %}
                            <li class='list-group-item m-0 pl-3 p-1'>#{{ tag }}</li>
                            {% endfor %}
                        </ul>
                        {% if ticket.due_by %}
                        <div class='card-body'>
                            <p class='card-test'>{{ ticket.due_by }}</p>
                        </div>
                        {% endif %}
                    </div>
                    {% endif %}
                {% endfor %}
            </div>
            <div id='dropWaiting' ondrop="drop_move(event)" ondragover="allowDrop(event)" class='col-md-3'>
                <h3>Waiting</h3>
                {% for ticket in boards %}
                {% if ticket.status.value == 3 %}
                    <div id="drag{{ ticket.id }}" draggable="true" ondragstart="drag(event)" class='card mt-2 bg-light shadow {{ ticket.priority.name }}'>
                        <div class='card-header'>
                        <p class='card-title mb-0'><a href="/display=board&ticket={{ ticket.id }}">{{ ticket.subject }}</a></p>
                        </div>
                        <ul class="list-group list-group-flush">
                            {% for tag in ticket.tags %}
                            <li class='list-group-item m-0 pl-3 p-1'>#{{ tag }}</li>
                            {% endfor %}
                        </ul>
                        {% if ticket.due_by %}
                        <div class='card-body'>
                            <p class='card-test'>{{ ticket.due_by }}</p>
                        </div>
                        {% endif %}
                    </div>
                    {% endif %}
                {% endfor %} 
            </div>
            <div id='dropClosed' ondrop="drop_move(event)" ondragover="allowDrop(event)" class='col-md-3'>
                <h3>Closed</h3>
                {% set ns = namespace(count=0) %}
                {% for ticket in boards %}
                    {% if ticket.status.value == 4 %}{% set ns.count = ns.count + 1 %}{% if ns.count < 4 %}
                    <div id="drag{{ ticket.id }}" draggable="true" ondragstart="drag(event)" class='card mt-2 bg-light shadow {{ ticket.priority.name }}'>
                        <div class='card-header'>
                        <p class='card-title mb-0'><a href="/display=board&ticket={{ ticket.id }}">{{ ticket.subject }}</a></p>
                        </div>
                        <ul class="list-group list-group-flush">
                            {% for tag in ticket.tags %}
                            <li class='list-group-item m-0 pl-3 p-1'>#{{ tag }}</li>
                            {% endfor %}
                        </ul>
                        {% if ticket.due_by %}
                        <div class='card-body'>
                            <p class='card-test'>{{ ticket.due_by }}</p>
                        </div>
                        {% endif %}
                    </div>
                    {% endif %}{% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock %}