{% extends "base.html" %}
{% block content %}
<div style='padding: 1% 5%'>
    <small><button onclick="showDivCreate()" class='expand-btn' style="font-size: 8pt">Create Ticket</button></small>
    <div id='expandCreate' class='expand-content'>
        <form action="" method="post">
            <div>
                Subject: {{ ticketInsertForm.subject(class_='transparent') }}{{ ticketInsertForm.priorty }} Status:{{ ticketInsertForm.status }} Category:{{ ticketInsertForm.category }}<br>
                Body: {{ ticketInsertForm.body(class_="fresh-frm") }}
            </div>
            <div style='margin: 10px'>
                {{ ticketInsertForm.submitTicket }}
            </div>
        </form>
    </div>
    <div style='height: 20%;'>
        <table>
            <tr><th style='width: 5%'>ID</th><th style='width: 54%'>Subject</th><th style='width: 5%'>Status</th><th style='width: 5%'>Priority</th><th style='width: 5%'>Updated At</th><th style='width: 7%'>Created By</th><th style='width: 7%'>Assigned</th><th style='width: 10%'>Due By</th></tr>
            {% for ticket in tickets %}
            <tr><td><a href="/ticket/all/{{ ticket.id }}">{{ ticket.id }}</a></td>
                <td><a href="/ticket/all/{{ ticket.id }}">{{ ticket.subject }}</a></td>
                <td>{{ ticket.status.name }}</td>
                <td>{{ ticket.priority.name }}</td>
                <td>{{ ticket.updated_at }}</td>
                <td>{{ ticket.created_by }}</td>
                <td>{{ ticket.assigned }}</td>
                <td>{{ ticket.due_by }}</td></tr>
            {% endfor %}
        </table>
    </div>
    <div style='height: 70%'>
        <div id='dropOpen' ondrop="drop_move(event)" ondragover="allowDrop(event)" class='col-4'>
            <h3>Open</h3>
            {% for ticket in tickets %}
            {% if ticket.status.value == 1 %}
                <p id="drag{{ ticket.id }}" draggable="true" ondragstart="drag(event)" class='rcorners'>{{ ticket.subject }}</p>
                {% endif %}
            {% endfor %}
        </div>
        <div id='dropWorking' ondrop="drop_move(event)" ondragover="allowDrop(event)" class='col-4'>
            <h3>Working</h3>
            {% for ticket in tickets %}
            {% if ticket.status.value == 2 %}
                <p id="drag{{ ticket.id }}" draggable="true" ondragstart="drag(event)" class='rcorners'>{{ ticket.subject }}</p>
                {% endif %}
            {% endfor %}
        </div>
        <div id='dropWaiting' ondrop="drop_move(event)" ondragover="allowDrop(event)" class='col-4'>
            <h3>Waiting</h3>
            {% for ticket in tickets %}
            {% if ticket.status.value == 3 %}
                <p id="drag{{ ticket.id }}" draggable="true" ondragstart="drag(event)" class='rcorners'>{{ ticket.subject }}</p>
                {% endif %}
            {% endfor %} 
        </div>
        <div id='dropClosed' ondrop="drop_move(event)" ondragover="allowDrop(event)" class='col-4'>
            <h3>Closed</h3>
            {% for ticket in tickets %}
                {% if ticket.status.value == 4 %}
                <p id="drag{{ ticket.id }}" draggable="true" ondragstart="drag(event)" class='rcorners'>{{ ticket.subject }}</p>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}