{% extends "base.html" %}
{% block content %}
<div style='padding: 1% 1%; width: 99vw; height: 93vh'>
    <div style='height: auto; width: calc(96% - 820px); margin: 1%; float: left; overflow: auto;'>
        <div class='buttonline'>
            <button onclick="showDiv('expandCreate')" class='expand-btn' style="font-size: 8pt">Create Ticket</button>
            <div id='expandCreate' class='expand-content'>
                <form id='exp1' action="" method="post">
                    <div>
                        Subject: {{ ticketInsertForm.subject(class_='submit-frm') }} Priority:{{ ticketInsertForm.priority }} Status:{{ ticketInsertForm.status }} Assigned:{{ ticketInsertForm.assigned }}<br><br>
                        Tags: {{ ticketInsertForm.tags(class_="submit-frm") }} Body:{{ ticketInsertForm.body(class_="fresh-frm") }}
                    </div>
                    <div style='margin: 10px'>
                        {{ ticketInsertForm.submitInsertTicket }}
                    </div>
                </form>
            </div>
            <li class='dropdown'>
                <button class='dropbtn'>Filter</button>
                <div class='dropdown-content'>
                  <a href="/{{ filter }}">All</a>
                  <a href="/{{ filter + '&status=Open' }}">Open</a>
                  <a href="/{{ filter + '&status=Working' }}">Working</a>
                  <a href="/{{ filter + '&status=Waiting' }}">Waiting</a>
                  <a href="/{{ filter + '&status=Closed' }}">Closed</a>
                  {% if noassigned %}
                  <a href="/{{ noassigned }}">All Tickets</a>
                  {% else %}
                  <a href="{{ assigned }}">My Tickets</a>
                  {% endif %}
                </div>
            </li>
            <li class='dropdown'>
                <button class='dropbtn'>Sort</button>
                <div class='dropdown-content'>
                  <a href="/{{ order + '&order=id' }}">ID</a>
                  <a href="/{{ order + '&order=updated_at' }}">Updated At</a>
                  <a href="/{{ order + '&order=created_at' }}">Created At</a>
                  <a href="/{{ order + '&order=priority' }}">Priority</a>
                </div>
            </li>
            <div class='search-container'>
            <form id='search' action="" method="post">
            {{ searchForm.search(style="font-size: 8pt; margin: 0 5px") }}{{ searchForm.submitSearch(style="font-size: 8pt") }}
            </form></div>
            </div>
            <div style='display: flex; overflow: auto;'>
                <table>
                    <tr><th style='width: 5%'>ID</th>
                        <th style='width: 45%'>Subject</th>
                        <th style='width: 5%'>Status</th>
                        <th style='width: 5%'>Priority</th>
                        <th style='width: 5%'>Updated At</th>
                        <th style='width: 7%'>Created By</th>
                        <th style='width: 7%'>Assigned</th>
                        <th style='width: 7%'>Tags</th>
                        <th style='width: 7%'>Due By</th></tr>
                    {% for tick in tickets %}
                    {% if tick.id == ticket.id %}
                    <tr><td class='selected'><a href="/display=list&ticket={{ tick.id }}">{{ tick.id }}</a></td>
                        <td class='selected'><a href="/display=list&ticket={{ tick.id }}">{{ tick.subject }}</a></td>
                        <td class='selected'>{{ tick.status.name }}</td>
                        <td class='selected'>{{ tick.priority.name }}</td>
                        <td class='selected'>{{ tick.updated_at[5:-3] }}</td>
                        <td class='selected'>{{ tick.created_by }}</td>
                        <td class='selected'>{{ tick.assigned }}</td>
                        <td class='selected'>{{ tick.tags }}</td>
                        <td class='selected'>{{ tick.due_by }}</td></tr>
                    {% else %}
                    <tr><td><a href="/display=list&ticket={{ tick.id }}">{{ tick.id }}</a></td>
                        <td><a href="/display=list&ticket={{ tick.id }}">{{ tick.subject }}</a></td>
                        <td>{{ tick.status.name }}</td>
                        <td>{{ tick.priority.name }}</td>
                        <td>{{ tick.updated_at[5:-3] }}</td>
                        <td>{{ tick.created_by }}</td>
                        <td><div onclick='showDiv("assigned{{ tick.id }}")'>{{ tick.assigned }}</div><div style='display: none; position: absolute; background-color: white;' id='assigned{{ tick.id }}'><!--
                        --><ul><!-- 
                        -->{% for user in users %}<li style='color: black;'><a onclick='assign("{{ user[0] }}",{{ tick.id }})'>{{ user[0] }}</a></li><br>{% endfor %}<!--
                        --></ul></div></td>
                        <td>{{ tick.tags }}</td>
                        <td>{{ tick.due_by }}</td></tr>
                    {% endif %}
                    {% endfor %}
                </table>
            </div>
        </div>
        <div style='height: 98%; width: 820px; overflow: auto; margin: 1%; float: left;'>
        <div id='dropOpen' ondrop="drop_move(event)" ondragover="allowDrop(event)" class='col-4'>
            <h3>Open</h3>
            {% for ticket in boards %}
            {% if ticket.status.value == 1 %}
                <p id="drag{{ ticket.id }}" draggable="true" ondragstart="drag(event)" class='rcorners {{ ticket.priority.name }}'><a href="/display=board&ticket={{ ticket.id }}">{{ ticket.subject }}</a></p>
                {% endif %}
            {% endfor %}
        </div>
        <div id='dropWorking' ondrop="drop_move(event)" ondragover="allowDrop(event)" class='col-4'>
            <h3>Working</h3>
            {% for ticket in boards %}
            {% if ticket.status.value == 2 %}
                <p id="drag{{ ticket.id }}" draggable="true" ondragstart="drag(event)" class='rcorners {{ ticket.priority.name }}'><a href="/display=board&ticket={{ ticket.id }}">{{ ticket.subject }}</a></p>
                {% endif %}
            {% endfor %}
        </div>
        <div id='dropWaiting' ondrop="drop_move(event)" ondragover="allowDrop(event)" class='col-4'>
            <h3>Waiting</h3>
            {% for ticket in boards %}
            {% if ticket.status.value == 3 %}
                <p id="drag{{ ticket.id }}" draggable="true" ondragstart="drag(event)" class='rcorners {{ ticket.priority.name }}'><a href="/display=board&ticket={{ ticket.id }}">{{ ticket.subject }}</a></p>
                {% endif %}
            {% endfor %} 
        </div>
        <div id='dropClosed' ondrop="drop_move(event)" ondragover="allowDrop(event)" class='col-4'>
            <h3>Closed</h3>
            {% for ticket in boards %}
                {% if ticket.status.value == 4 %}{% if loop.index < 5 %}
                <p id="drag{{ ticket.id }}" draggable="true" ondragstart="drag(event)" class='rcorners {{ ticket.priority.name }}'><a href="/display=board&ticket={{ ticket.id }}">{{ ticket.subject }}</a></p>
                {% endif %}{% endif %}
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}