{% extends "base.html" %}
{% block content %}
<div class='main-container'>
    <div class='var-container'>
        <div class='button-row'>
            <button onclick="showDiv('expandCreate')" class='dropbtn'>Create Ticket</button>
            <button onclick="showDiv('expandUpdate')" class='dropbtn'>Edit Ticket</button>
            <div id='expandCreate' class='expand-content'>
                <form id='exp1' action="" method="post">
                    <div>
                        Subject: {{ ticketInsertForm.subject(class_='submit-frm') }} Priority:{{ ticketInsertForm.priority }} Status:{{ ticketInsertForm.status }} Assigned:{{ ticketInsertForm.assigned }} Tags:{{ ticketInsertForm.tags(class_="submit-frm") }} Body:{{ ticketInsertForm.body(class_="fresh-frm") }}            </div>
                    <div style='margin: 10px'>
                        {{ ticketInsertForm.submitInsertTicket }}
                    </div>
                </form>
            </div>
            {% if ticket %}
            <div id='expandUpdate' class='expand-content'>
                <form id='exp2' action="" method="post">
                    <div>
                        Subject:{{ ticketUpdateForm.subject(class_='submit-frm', value=ticket.subject) }}
                        Priority:<select id="priority" name="priority">{% for priority in ticketUpdateForm.priority %}<option value="{{ priority.data }}"{% if priority.data == ticket.priority.name %} selected="selected"{% endif %}>{{ priority.data }}</option>{% endfor %}</select>
                        Status:<select id="status" name="status">{% for status in ticketUpdateForm.status %}<option value="{{ status.data }}"{% if status.data == ticket.status.name %} selected="selected"{% endif %}>{{ status.data }}</option>{% endfor %}</select>
                        Assigned:<select id="assigned" name="assigned">{% for assigned in ticketUpdateForm.assigned.choices %}<option value="{{ assigned[0] }}"{% if assigned[0] == ticket.assigned[0] %} selected="selected"{% endif %}>{{ assigned[0] }}</option>{% endfor %}</select>
                        Tags:{{ ticketUpdateForm.tags(class_='submit-frm', value=tags_string(ticket.tags)) }}
                        Created&nbsp;By:{{ ticketUpdateForm.created_by(class_='submit-frm', value=ticket.created_by) }}
                        <textarea id="body" class="fresh-frm" name="body" required="">{{ ticket.body }}</textarea>
                    </div>
                    <div style='margin: 10px'>
                        {{ ticketUpdateForm.submitUpdateTicket }}
                    </div>
                </form>
            </div>
            {% endif %}
            <li class='dropdown'>
                <button class='dropbtn'>Filter</button>
                <div class='dropdown-content'>
                    {% if noassigned %}
                    <!--<a href="/{{ noassigned }}">All Tickets</a>-->
                    {% else %}
                    <a href="{{ assigned }}">My Tickets</a>
                    {% endif %}
                <a href="/{{ queries['status'] }}">All</a>
                <a href="/{{ queries['status'] + '&status=Open' }}">Open</a>
                <a href="/{{ queries['status'] + '&status=Working' }}">Working</a>
                <a href="/{{ queries['status'] + '&status=Waiting' }}">Waiting</a>
                <a href="/{{ queries['status'] + '&status=Closed' }}">Closed</a>
                </div>
            </li>
            <li class='dropdown'>
                <button class='dropbtn'>Sort</button>
                <div class='dropdown-content'>
                <a href="/{{ queries['order'] + '&order=id' }}">ID</a>
                <a href="/{{ queries['order'] + '&order=updated_at' }}">Updated At</a>
                <a href="/{{ queries['order'] + '&order=created_at' }}">Created At</a>
                <a href="/{{ queries['order'] + '&order=priority' }}">Priority</a>
                <a href="/{{ queries['order'] + '&order=status' }}">Status</a>
                {% if queries.get('sorted') == 'asc' %}
                <a href="/{{ queries['sort'] + '&sort=desc' }}">Descending</a>
                {% else %}
                <a href="/{{ queries['sort'] + '&sort=asc' }}">Ascending</a>
                {% endif %}
                </div>
            </li>
                <div class='search-container'>
                <form id='search' action="" method="post">
                {{ searchForm.search(style="font-size: 8pt; margin: 0 5px") }}{{ searchForm.submitSearch(style="font-size: 8pt") }}
                </form></div>
        </div>
        <div class='table'>
            <table>
                <tr><th style='width: 5%'>ID</th>
                    <th style='width: 45%'>Subject</th>
                    <th style='width: 5%'>Status</th>
                    <th style='width: 5%'>Priority</th>
                    <th style='width: 7%'>Assigned</th>
                    <th style='width: 7%'>Tags</th>
                    <th style='width: 5%'>Updated At</th>
                    <th style='width: 7%'>Created By</th>
                    <th style='width: 7%'>Due By</th></tr>
                {% for tick in tickets %}
                {% if tick.id == ticket.id %}
                <tr><td class='selected'><a href="/{{ queries['ticket'] + '&ticket=' + tick.id|string }}">{{ tick.id }}</a></td>
                    <td class='selected'><a href="/{{ queries['ticket'] + '&ticket=' + tick.id|string }}">{{ tick.subject }}</a></td>
                    <!-- Status -->
                    <td class='selected'><a><div class='click' onclick='showDiv("status{{ tick.id }}")'>{{ tick.status.name }}</div><div style='display: none;' class='hidden-scroll' id='status{{ tick.id }}'><!--
                    --><ul>{% for status in statuses %}<li style='color: black;'><a onclick='status("{{ status }}",{{ tick.id }})'>{{ status }}</a></li><br>{% endfor %}</ul></div></a></td>
                    <!-- Priority -->
                    <td class='selected'><a><div class='click' onclick='showDiv("priority{{ tick.id }}")'>{{ tick.priority.name }}</div><div style='display: none;' class='hidden-scroll' id='priority{{ tick.id }}'><!--
                    --><ul>{% for pri in priorities %}<li style='color: black;'><a onclick='priority("{{ pri }}",{{ tick.id }})'>{{ pri }}</a></li><br>{% endfor %}</ul></div></a></td>
                    <!-- Assigned -->
                    <td class='selected'><a><div class='click' onclick='showDiv("assigned{{ tick.id }}")'>{% if tick.assigned[0] %}{{ tick.assigned[0] }}{% else %}____{% endif %}</div><div class='hidden-scroll' style='display: none;' id='assigned{{ tick.id }}'><!--
                    --><ul>{% for user in users %}<li style='color: black;'><a onclick='assign("{{ user[0] }}",{{ tick.id }})'>{{ user[0] }}</a></li><br>{% endfor %}</ul></div></a></td>
                    <!-- Tags -->
                    <td class='selected'><a><div class='click' onclick='showDiv("tags{{ tick.id }}")'>{% if tick.tags[0] %}{{ tags_string(tick.tags) }}{% else %}____{% endif %}</div><div class='hidden-scroll' style='display: none;' id='tags{{ tick.id }}'><!--
                    --><ul>{% for tag in tags %}<li style='color: black;'><a onclick='tag("{{ tag.body }}",{{ tick.id }})'>{{ tag.body }}</a></li><br>{% endfor %}</ul></div></a></td>
                    <td class='selected'>{{ tick.updated_at[5:-3] }}</td>
                    <td class='selected'>{{ tick.created_by }}</td>
                    <td class='selected'>{{ tick.due_by }}</td></tr>
                {% else %}
                <tr><td><a href="/{{ queries['ticket'] + '&ticket=' + tick.id|string }}">{{ tick.id }}</a></td>
                    <td><a href="/{{ queries['ticket'] + '&ticket=' + tick.id|string }}">{{ tick.subject }}</a></td>
                    <!-- Status -->
                    <td><a><div class='click' onclick='showDiv("status{{ tick.id }}")'>{{ tick.status.name }}</div><div class='hidden-scroll' style='display: none;' id='status{{ tick.id }}'><!--
                    --><ul>{% for status in statuses %}<li style='color: black;'><a onclick='status("{{ status }}",{{ tick.id }})'>{{ status }}</a></li><br>{% endfor %}</ul></div></a></td>
                    <!-- Priority -->
                    <td><a><div class='click' onclick='showDiv("priority{{ tick.id }}")'>{{ tick.priority.name }}</div><div class='hidden-scroll' style='display: none;' id='priority{{ tick.id }}'><!--
                    --><ul>{% for pri in priorities %}<li style='color: black;'><a onclick='priority("{{ pri }}",{{ tick.id }})'>{{ pri }}</a></li><br>{% endfor %}</ul></div></a></td>
                    <!-- Assigned -->
                    <td><a><div class='click' onclick='showDiv("assigned{{ tick.id }}")'>{% if tick.assigned[0] %}{{ tick.assigned[0] }}{% else %}____{% endif %}</div><div class='hidden-scroll' style='display: none;' id='assigned{{ tick.id }}'><!--
                    --><ul>{% for user in users %}<li style='color: black;'><a onclick='assign("{{ user[0] }}",{{ tick.id }})'>{{ user[0] }}</a></li><br>{% endfor %}</ul></div></a></td>
                    <!-- Tags -->
                    <td><a><div class='click' onclick='showDiv("tags{{ tick.id }}")'>{% if tick.tags[0] %}{{ tags_string(tick.tags) }}{% else %}____{% endif %}</div><div class='hidden-scroll' style='display: none;' id='tags{{ tick.id }}'><!--
                    --><ul>{% for tag in tags %}<li style='color: black;'><a onclick='tag("{{ tag.body }}",{{ tick.id }})'>{{ tag.body }}</a></li><br>{% endfor %}</ul></div></a></td>
                    <td>{{ tick.updated_at[5:-3] }}</td>
                    <td>{{ tick.created_by }}</td>
                    <td>{{ tick.due_by }}</td></tr>
                {% endif %}
                {% endfor %}
            </table>
        </div>
    </div>
    {% if ticket %}
    <div class='fixed-container'>
        <h3>Content</h3>
        <div style='padding: 1%;'>
        <p style='background-color: lightgray; padding: 1%'>{{ ticket.body }}</p>
        </div>
        <br>
        <h3>Comments</h3>
        <table>
            {% for comment in comments %}
            <tr><td style='width: 100%; padding: 12px 0;'><p>{{ comment.body }}</p><br><p><small>{{ comment.created_by }} at {{ comment.created_at }}</small></p></td></tr>
            {% endfor %}
        </table>
        <div style='width: 100%'>
            <form action="" method="post">
                <div>
                    {{ commentForm.comment(class_="fresh-frm") }}</div>
                <div>
                    {{ commentForm.submitComment(class_="fresh-btn") }}</div>
            </form>
        </div>
    </div>
    {% endif %}
</div>

{% endblock %}