{% extends "base.html" %}
{% block content %}
<div style='padding: 1% 1%; width: 99vw; height: 93vh'>
    <div style='width: 60%; height: 100%; padding: 1% 1%; float: left'>
    <button onclick="showDivCreate()" class='expand-btn' style="font-size: 8pt">Create Ticket</button> <button onclick="showDivUpdate()" class='expand-btn' style="font-size: 8pt">Edit Ticket</button>
    <div id='expandCreate' class='expand-content'>
        <form id='exp1' action="" method="post">
            <div>
                Subject:&nbsp;{{ ticketInsertForm.subject(class_='submit-frm') }} Priority:{{ ticketInsertForm.priority }} Status:{{ ticketInsertForm.status }} tags:{{ ticketInsertForm.tags(class_="fresh-frm") }}<br>
                {{ ticketInsertForm.body(class_="fresh-frm") }}
            </div>
            <div style='margin: 10px'>
                {{ ticketInsertForm.submitInsertTicket }}
            </div>
        </form>
    </div>
    {% if ticket %}
    <div id='expandUpdate' class='expand-content'>
        <form id='exp2' action="" method="post">
            <div>
                Subject:&nbsp;{{ ticketUpdateForm.subject(class_='submit-frm', value=ticket.subject) }}
                Priority:<select id="priority" name="priority">{% for priority in ticketUpdateForm.priority %}<option value="{{ priority.data }}"{% if priority.data == ticket.priority.name %} selected="selected"{% endif %}>{{ priority.data }}</option>{% endfor %}</select>
                Status:<select id="status" name="status">{% for status in ticketUpdateForm.status %}<option value="{{ status.data }}"{% if status.data == ticket.status.name %} selected="selected"{% endif %}>{{ status.data }}</option>{% endfor %}</select>
                Tags:&nbsp;{{ ticketUpdateForm.tags(class_='submit-frm', value=tags) }}
                Created&nbsp;By:&nbsp;{{ ticketUpdateForm.created_by(class_='submit-frm', value=ticket.created_by) }}
                <textarea id="body" class="fresh-frm" name="body" required="">{{ ticket.body }}</textarea>
            </div>
            <div style='margin: 10px'>
                {{ ticketUpdateForm.submitUpdateTicket }}
            </div>
        </form>
    </div>
    {% endif %}
    <li class='dropdown'>
        <button class='dropbtn'>Filter</button>
        <div class='dropdown-content'>
          <a href="/{{ filter }}">All</a>
          <a href="/{{ filter + '&status=Open' }}">Open</a>
          <a href="/{{ filter + '&status=Working' }}">Working</a>
          <a href="/{{ filter + '&status=Waiting' }}">Waiting</a>
          <a href="/{{ filter + '&status=Closed' }}">Closed</a>
        </div>
    </li>
    <li class='dropdown'>
        <button class='dropbtn'>Sort</button>
        <div class='dropdown-content'>
          <a href="/{{ order + '&order=id' }}">ID</a>
          <a href="/{{ order + '&order=updated_at' }}">Updated At</a>
          <a href="/{{ order + '&order=created_at' }}">Created At</a>
          <a href="/{{ order + '&order=assigned' }}">Assigned</a>
          <a href="/{{ order + '&order=priority' }}">Priority</a>
        </div>
    </li>
    <div style='height: 80%; overflow: auto; '>
        <table>
            <tr><th style='width: 5%'>ID</th><th style='width: 50%'>Subject</th><th style='width: 5%'>Status</th><th style='width: 5%'>Priority</th><th style='width: 5%'>Updated At</th><th style='width: 7%'>Created By</th><th style='width: 7%'>Assigned</th><th style='width: 7%'>Tags</th><th style='width: 7%'>Due By</th></tr>
            {% for tick in tickets %}
            {% if tick.id == ticket.id %}
            <tr><td class='selected'><a href="/{{ query + '&ticket=' + tick.id|string }}">{{ tick.id }}</a></td><td class='selected'><a href="/{{ query + '&ticket=' + tick.id|string }}">{{ tick.subject }}</a></td class='selected'><td class='selected'>{{ tick.status.name }}</td><td class='selected'>{{ tick.priority.name }}</td><td class='selected'>{{ tick.updated_at[5:-3] }}</td><td class='selected'>{{ tick.created_by }}</td><td class='selected'>{{ tick.assigned }}</td><td class='selected'>{{ tick.tags }}</td><td class='selected'>{{ tick.due_by }}</td></tr>
            {% else %}
            <tr><td><a href="/{{ query + '&ticket=' + tick.id|string }}">{{ tick.id }}</a></td><td><a href="/{{ query + '&ticket=' + tick.id|string }}">{{ tick.subject }}</a></td><td>{{ tick.status.name }}</td><td>{{ tick.priority.name }}</td><td>{{ tick.updated_at[5:-3] }}</td><td>{{ tick.created_by }}</td><td>{{ tick.assigned }}</td><td>{{ tick.tags }}</td><td>{{ tick.due_by }}</td></tr>
            {% endif %}
            {% endfor %}
        </table>
    </div>
    </div>
    {% if ticket %}
    <div style='height: 100%; width: 40%; padding: 1% 1%; float: left; overflow: auto;'>
        <h3>Content</h3>
        <div style='padding: 1%;'>
        <p style='background-color: lightgray; padding: 1%'>{{ ticket.body }}</p>
        </div>
        <br>
        <h3>Comments</h3>
        <table>
            {% for comment in comments %}
            <tr><td style='width: 100%; padding: 12px 0;'><p>{{ comment.body }}</p><br><p><small>{{ comment.created_by }} at {{ comment.created_at }}</small></p></td></tr>
            {% endfor %}
        </table>
        <div style='width: 100%'>
            <form action="" method="post">
                <div>
                    {{ commentForm.comment(class_="fresh-frm") }}</div>
                <div>
                    {{ commentForm.submitComment(class_="fresh-btn") }}</div>
            </form>
        </div>
    </div>
    {% endif %}
</div>

{% endblock %}