{% extends "base.html" %}
{% block content %}
<div class='main-container'>
    <div class='fixed-container'>
        <div class='button-row'>
        <button onclick="showDiv('create')" class='dropbtn'>Create User</button>
        <button onclick="showDiv('update')" class='dropbtn'>Edit User</button>
        </div>
        <div id='create' class='expand-content'>
            <form id='1' action="" method="post">
                <div>
                    Username:{{ userInsertForm.username }} 
                    Email:{{ userInsertForm.email }} 
                    Password:{{ userInsertForm.password }}
                </div>
                <div style='margin: 10px'>
                    {{ userInsertForm.submitInsertUser }}
                </div>
            </form>
        </div>
        <div id='update' class='expand-content'>
            <form id='2' action="" method="post">
                <div>
                    User:<select id="username" name="username">{% for username in userUpdateForm.username.choices %}<option value="{{ username[0] }}">{{ username[0] }}</option>{% endfor %}</select>
                    Email:{{ userUpdateForm.email }}
                    Password:{{ userUpdateForm.password }}
                </div>
                <div style='margin: 10px'>
                    {{ userUpdateForm.submitUpdateUser }}
                </div>
            </form>
        </div>
        <div class='table'>
        <table>
            <tr><th>Username</th><th>Email</th></tr>
            {% for user in users %}
            <tr><td>{{ user.username }}</td><td>{{ user.email }}</td></tr>
            {% endfor %}
        </table>
        </div>
    </div>
    <div class='var-container'>
        <button onclick="showDiv('importTickets')" class='dropbtn'>Import Tickets</button>
        <button onclick="window.open('/api/action=query_tickets');" class='dropbtn'>Export Tickets</button>
        <div id='importTickets' class='expand-content' style='display: none'>
            <p style='margin: 5px;'>Please upload in JSON list format, see export for example</p>
            <form id='3' action='' method='post' enctype="multipart/form-data">
                {{ importDataForm.hidden_tag() }}
                {{ importDataForm.file }}
                <input type='submit' value='Submit'>
            </form>
        </div>

    </div>
</div>
{% endblock %}