{% extends "base.html" %}
{% block content %}
<div class='row'>
    <div class='col-lg-6'>
        <div class='btn-group'>
        <button onclick="showDiv('create')" class='btn btn-outline-secondary'>Create User</button>
        <button onclick="showDiv('update')" class='btn btn-outline-secondary'>Edit User</button>
        </div>
        <div id='create' class='collapse mt-2'>
            <form id='1' action="" method="post">
                <div class="form-group mb-2 mr-sm-2">
                    {{ userInsertForm.username(class="form-control", placeholder="Username") }} 
                    {{ userInsertForm.email(class="form-control", placeholder="Email") }} 
                    {{ userInsertForm.password(class="form-control", placeholder="Password") }}
                </div>
                <div style='margin: 10px'>
                    {{ userInsertForm.submitInsertUser(class="btn btn-outline-secondary") }}
                </div>
            </form>
        </div>
        <div id='update' class='collapse mt-2'>
            <form id='2' action="" method="post">
                <div class="form-group mb-2 mr-sm-2">
                    <select id="username" class='btn btn-outline-secondary' name="username">{% for username in userUpdateForm.username.choices %}<option value="{{ username[0] }}">{{ username[0] }}</option>{% endfor %}</select>
                    {{ userUpdateForm.email(class="form-control", placeholder="Email") }}
                    {{ userUpdateForm.password(class="form-control", placeholder="Password") }}
                </div>
                <div style='margin: 10px'>
                    {{ userUpdateForm.submitUpdateUser(class="btn btn-outline-secondary") }}
                </div>
            </form>
        </div>
        <div class='table'>
        <table>
            <tr><th>Username</th><th>Email</th></tr>
            {% for user in users %}
            <tr><td>{{ user.username }}</td><td>{{ user.email }}</td></tr>
            {% endfor %}
        </table>
        </div>
    </div>
    <div class='col-lg-6'>
        <button onclick="showDiv('importTickets')" class='btn btn-outline-secondary'>Import Tickets</button>
        <button onclick="window.open('/api/action=query_tickets');" class='btn btn-outline-secondary'>Export Tickets</button>
        <div id='importTickets' class='collapse' style='display: none'>
            <p style='margin: 5px;'>Please upload in JSON list format, see export for example</p>
            <form id='3' action='' method='post' enctype="multipart/form-data">
                {{ importDataForm.hidden_tag() }}
                {{ importDataForm.file }}
                <input type='submit' value='Submit'>
            </form>
        </div>

    </div>
</div>
{% endblock %}