<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" http-equiv="refresh" content="300" >
    <title>LDAP Device Surveyor</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/template.css') }}">
    <script>
        function allowDrop(ev) {
            ev.preventDefault();
        }
        
        function drag(ev) {
            ev.dataTransfer.setData("Text", ev.target.id);
        }
        
        function drop(ev) {
            var data = ev.dataTransfer.getData("Text");
            ev.target.appendChild(document.getElementById(data));
            ev.preventDefault();
        }
        function showDiv() {
          if (document.getElementById('expand').style.display  === "block") {
            document.getElementById('expand').style.display  = "none";
          } else {
            document.getElementById('expand').style.display  = "block";
          }
        }
    </script>
  </head>
  <body>
    <nav>
      <ul>
        <li><img height="30px" src="https://cdn.nwmsrocks.com/img/3dc41c7.png"/></li>
        <li><a href="/">Home</a></li>
        <li class='dropdown'>
          <a href="/ticket/all" class='dropbtn'>Tickets</a>
          <div class='dropdown-content'>
            <a href="/ticket/open">Open</a>
            <a href="/ticket/working">Working</a>
            <a href="/ticket/waiting">Waiting</a>
            <a href="/ticket/closed">Closed</a>
          </div>
          </li>
        </ul>
      <ul class='navicon'>
        <li>Tasker</li>
      </ul>
    </nav>
    <h1>Hello</h1>




    <script src="{{ url_for('static', filename='js/main.js') }}">
    </script>
  </body>
</html>


