{% extends "base.html" %}
{% block content %}
<table style='padding:  1%'>
    <tr><th style='width: 5%'>ID</th><th style='width: 60%'>Subject</th><th style='width: 5%'>Status</th><th style='width: 5%'>Priority</th><th style='width: 5%'>Updated At</th><th style='width: 10%'>Created By</th><th style='width: 10%'>Assigned</th></tr>
    {% for ticket in tickets %}
    <tr><td><a href="/ticket/{{ ticket.id }}">{{ ticket.id }}</a></td><td>{{ ticket.subject }}</td><td>{{ ticket.status.name }}</td><td>{{ ticket.priority.name }}</td><td>{{ ticket.updated_at }}</td><td>{{ ticket.created_by }}</td><td>{{ ticket.assigned }}</td></tr>
    <tr><td colspan="7">{{ ticket.body }}</td></tr>
    <tr><td style='padding-top: 20px;'></td></tr>
    <tr></tr>
    {% endfor %}
</table>



{% endblock %}