{% extends "base.html" %}
{% block content %}
<div style='padding: 1% 20%'>
    <button onclick="showDiv()" class='expand-btn' style="font-size: 8pt">Create Ticket</button> <button onclick="showDiv1()" class='expand-btn' style="font-size: 8pt">Edit Ticket</button>
    <div style='height: 20%; width: 100%;'>
        <table>
            <tr><th style='width: 5%'>ID</th><th style='width: 54%'>Subject</th><th style='width: 5%'>Status</th><th style='width: 5%'>Priority</th><th style='width: 5%'>Updated At</th><th style='width: 7%'>Created By</th><th style='width: 7%'>Assigned</th><th style='width: 10%'>Due By</th></tr>
            {% for tick in tickets %}
            {% if tick.id == id %}
            <tr><td class='selected'><a href="/ticket/{{ option }}/{{ tick.id }}">{{ tick.id }}</a></td><td class='selected'><a href="/ticket/{{ option }}/{{ tick.id }}">{{ tick.subject }}</a></td class='selected'><td class='selected'>{{ tick.status.name }}</td><td class='selected'>{{ tick.priority.name }}</td><td class='selected'>{{ tick.updated_at }}</td><td class='selected'>{{ tick.created_by }}</td><td class='selected'>{{ tick.assigned }}</td><td class='selected'>{{ tick.due_by }}</td></tr>
            {% else %}
            <tr><td><a href="/ticket/{{ option }}/{{ tick.id }}">{{ tick.id }}</a></td><td><a href="/ticket/{{ option }}/{{ tick.id }}">{{ tick.subject }}</a></td><td>{{ tick.status.name }}</td><td>{{ tick.priority.name }}</td><td>{{ tick.updated_at }}</td><td>{{ tick.created_by }}</td><td>{{ tick.assigned }}</td><td>{{ tick.due_by }}</td></tr>
            {% endif %}
            {% endfor %}
        </table>
    </div> 
    <div id='expand' class='expand-content'>
        <form id='1' action="" method="post">
            <div>
                Subject: {{ ticketInsertForm.subject(class_='submit-frm') }} Priority:{{ ticketInsertForm.priority }} Status:{{ ticketInsertForm.status }} Category:{{ ticketInsertForm.category }}<br>
                Body: {{ ticketInsertForm.body(class_="fresh-frm") }}
            </div>
            <div style='margin: 10px'>
                {{ ticketInsertForm.submitInsertTicket }}
            </div>
        </form>
    </div>
    <div id='expand1' class='expand-content'>
        <form id='2' action="" method="post">
            <div>
                Subject: {{ ticketUpdateForm.subject(class_='submit-frm', value=ticket.subject) }}
                 Priority:{{ ticketUpdateForm.priority(Option='Low') }} 
                 Status:{{ ticketUpdateForm.status }} 
                 Category:{{ ticketUpdateForm.category }}<br>
                <textarea id="body" class="fresh-frm" name="body" required="">{{ ticket.body }}</textarea>
            </div>
            <div style='margin: 10px'>
                {{ ticketUpdateForm.submitUpdateTicket }}
            </div>
        </form>
    </div>

    <div style='height: 70%; width: 100%; padding: 5% 0;'>
        <h3>Message</h3>
        <div style='padding: 1%;'>
        <p style='background-color: lightgray; padding: 1%'>{{ ticket.body }}</p>
        </div>
        <br>
        <h3>Comments</h3>
        <table>
            {% for comment in comments %}
            <tr><td style='width: 100%; padding: 12px 0;'><p>{{ comment.body }}</p><br><p><small>{{ comment.created_by }} at {{ comment.created_at }}</small></p></td></tr>
            {% endfor %}
        </table>
        <div style='width: 100%'>
            <form action="" method="post">
                <div>
                    {{ commentForm.comment(class_="fresh-frm") }}</div>
                <div>
                    {{ commentForm.submitComment(class_="fresh-btn") }}</div>
            </form>
        </div>
    </div>
</div>

{% endblock %}